# ANÁLISE DOS DADOS DE REEMBOLSO DOS SENADORES DE 2018
Dados coletados em: "https://www12.senado.leg.br/dados-abertos/conjuntos?portal=Administrativo&grupo=senadores"

In [27]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('despesas_ceaps_2018.csv', sep= ';', decimal=',')

#AQUI ADICIONEI O SEPARADOR DE DECIMAIS COMO A VÍRGULA PARA QUE IDENTIFIQUE OS VALORES COMO NÚMEROS

df.head(3)

,ID,TIPO_DOCUMENTO,ANO,MÊS,NOME_SENADOR,TIPO_DESPESA,CPF_CNPJ_FORNECEDOR,NOME_FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2091301,Passagem / Bilhete / Código Localizador,2018,3,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,C7HFSY,2018-03-16,"Companhia Aérea: AZUL, Localizador: C7HFSY. Pa...",2773.24
1,2092285,Passagem / Bilhete / Código Localizador,2018,3,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,T6DKGB,2018-03-19,"Companhia Aérea: AZUL, Localizador: T6DKGB. Pa...",814.96
2,2092292,Passagem / Bilhete / Código Localizador,2018,3,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,RFDLKD,2018-03-27,"Companhia Aérea: AZUL, Localizador: RFDLKD. Pa...",636.90

In [29]:
#Conferir tamanhos e tipos das colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24492 entries, 0 to 24491
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   24492 non-null  int64
 1   TIPO_DOCUMENTO       24492 non-null  object
 2   ANO                  24492 non-null  int64
 3   MÊS                  24492 non-null  int64
 4   NOME_SENADOR         24492 non-null  object
 5   TIPO_DESPESA         24492 non-null  object
 6   CPF_CNPJ_FORNECEDOR  24492 non-null  object
 7   NOME_FORNECEDOR      24492 non-null  object
 8   DOCUMENTO            23476 non-null  object
 9   DATA                 24492 non-null  object
 10  DETALHAMENTO         18882 non-null  object
 11  VALOR_REEMBOLSADO    24492 non-null  float64
dtypes: float64(1), int64(3), object(8)
memory usage: 2.2+ MB

In [31]:
df.describe()

                 ID      ANO           MÊS  VALOR_REEMBOLSADO
count  2.449200e+04  24492.0  24492.000000       24492.000000
mean   2.100346e+06   2018.0      6.192226        1045.431003
std    7.881637e+03      0.0      3.305847        2718.840641
min    2.085892e+06   2018.0      1.000000           0.010000
25%    2.093630e+06   2018.0      3.000000         125.000000
50%    2.100348e+06   2018.0      6.000000         287.200000
75%    2.107072e+06   2018.0      9.000000        1032.005000
max    2.118038e+06   2018.0     12.000000      103900.000000

In [35]:
#VALOR TOTAL DE REEMBOLSOS
df['VALOR_REEMBOLSADO'].sum()

25604696.120000005

In [45]:
#VALOR TOTAL DE REEMBOLSOS POR SENADOR
df['NOME_SENADOR'].value_counts()

NOME_SENADOR
EDUARDO LOPES          864
PAULO BAUER            824
WELLINGTON FAGUNDES    800
JOSÉ SERRA             715
GLEISI HOFFMANN        653
                      ...
ALVARO DIAS             40
FERNANDO COLLOR         27
JADER BARBALHO          19
CRISTOVAM BUARQUE       16
ZÉ SANTANA               8
Name: count, Length: 91, dtype: int64

In [55]:
#QUAL FOI O VALOR DE REEMBOLSOS POR SENADOR
df.groupby('NOME_SENADOR')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)

NOME_SENADOR
EDUARDO BRAGA         529599.18
VANESSA GRAZZIOTIN    515969.63
JOÃO CAPIBERIBE       513333.90
ÂNGELA PORTELA        485806.44
OMAR AZIZ             484143.98
                        ...
ALVARO DIAS            44037.88
WALTER PINHEIRO        32733.67
CRISTOVAM BUARQUE      32400.00
ZÉ SANTANA             23300.67
IONE GUIMARÃES         11379.91
Name: VALOR_REEMBOLSADO, Length: 91, dtype: float64

In [59]:
#QUANTIDADES DE REEMBOLSOS POR TIPO DE DESPESA
df['TIPO_DESPESA'].value_counts()

TIPO_DESPESA
Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   10147
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                  5820
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                            5042
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.      1761
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                               928
Divulgação da atividade parlamentar                                                                                                                                                                  750
Serviços de Segurança Privada                                                                                                                                                                         44
Name: count, dtype: int64

In [67]:
#TIPO DE DESPESA MAIS CUSTOSO
df.groupby('TIPO_DESPESA')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)

TIPO_DESPESA
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                 6335284.94
Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   5620092.84
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                           5041433.04
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                             4966449.41
Divulgação da atividade parlamentar                                                                                                                                                                2568910.24
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.      900312.04
Serviços de Segurança Privada                                                                                                                                                                       172213.61
Name: VALOR_REEMBOLSADO, dtype: float64

# OU SEJA, TIVEMOS MAIS REEMBOLSOS POR LOCOMOÇÃO/HOSPEDAGEM, MAS OS REEMBOLSOS POR PASSAGENS AÉREAS CUSTARAM MAIS.